<div style="margin-top: 80px;">
	<% @books.each do |book| %>
		<div class="book">
		<div class="row">
			<%= link_to book do %>
			<div class="col-md-2">
				<%= image_tag book.image.url(:large), class: "book-img" %>
			</div>
			<div class="col-md-2">
				<h2 class="book-title" style="color: #333333"><%= book.title %></h2>
			</div>
			<div class="col-md-8">
					<%= image_tag "281767.svg", id: "google_map" %>
					<h3 class="book-price"><%= number_to_currency(book.price, unit: "") %> $</h3>
			</div>
			<% end %>
		</div>
		</div>
	<% end %>
</div>