<!DOCTYPE html>
<html>
  <head>
    <title>near book</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
  </head>

  <body>
    <%= render "layouts/header" %>
    	<div class="row">
    		<div class="col-md-7 quds">
    			    <div class="text-center">

				        <h1 style="color: #fff"><%= image_tag "281767.svg", id: "google_map" %>Find books near you</h1>

				        <%= form_tag books_path, :method => :get do %>
				          <p>
				            <%= text_field_tag :search, params[:search], class: "form-control form-width" %>
				            <%= submit_tag "Search", :name => nil, class: "green-btn" %>
				          </p>
				        <% end %>    
				    </div>
    		</div>
    		<div class="col-md-5">
    			<div class="container">
    				<%= yield %>
    			</div>
    		</div>
    	</div>
    
    <%= render "layouts/footer" %>
  </body>
</html>
